<h1>お問い合わせを受付いたしました。</h1>

<h3>お問い合わせ内容の確認</h3>

<strong>お名前: <%= @contact.name %>様</strong>
<br>
<strong>メールアドレス: <%= @contact.email %></strong>
<br>
<strong>お問い合わせ内容: <%= @contact.content %></strong>
