<div class="row">
  <div class="col-md-4 offset-md-4"><h3 class="text-center">編集</h3></div>
</div>

<br>
<br>

<%= render 'form', stress_diary: @stress_diary %>

<br>
<br>

<div class="row">
  <div class="col-md-4 offset-md-4 text-center"><%= link_to '戻る', 'javascript:history.back()', class: "btn btn-outline-primary" %></div>
</div>
