.chart_price {
  position: relative;
}

.PieChart {
   position: absolute;
   top: 0;
   left: 0;
   margin: auto;
   right: 0;
   margin: auto;
   text-align: center;
   top: 53%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}
